---
import { Admin as BkndAdmin } from "bknd/ui";
import "bknd/dist/styles.css";

import { getApi } from "bknd/adapter/astro";

const api = getApi(Astro, { mode: "dynamic" });
const user = api.getUser();

export const prerender = false;
---

<html>
  <body>
    <BkndAdmin withProvider={{ user }} client:load />
  </body>
</html>
