# Astro DB - LibSQL (required) - Your database - https://docs.astro.build/en/guides/astro-db/#connect-a-libsql-database-for-production
ASTRO_DB_REMOTE_URL=""
ASTRO_DB_APP_TOKEN=""

# Better Auth (required) - https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:4321"
BETTER_AUTH_EMAIL_VERIFICATION="false"

# Mail server configuration
MAIL_HOST=smtp.resend.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_AUTH_USER=resend
MAIL_AUTH_PASS=your_resend_api_key
MAIL_FROM=your_verified_sender@yourdomain.com
