# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Package managers file
pnpm-lock.yaml

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Netlify build
.netlify/

# TinyMCE self-hosted gets copied on build, so no need to commit.
public/tinymce/

# Ignore all versions of tinymce in the specified path
node_modules/.pnpm/tinymce@*/node_modules/tinymce

# BKND temp file
src/integrations/bknd/temp/
