---
import Layout from "@/layouts/Layout.astro";
import Container from "@sections/Container.astro";
import Navbar from "@sections/Navbar.astro";
import { SignUp as ClerkSignUp } from "@clerk/astro/components";

if (Astro.locals.session) {
  return Astro.redirect("/dashboard");
}
---

<Layout title="Sign Up">
  <Navbar title="Freedom Stack" sticky links={[{ text: "Home", href: "/" }]} />
  <Container align="center">
    <div class="flex flex-col gap-4 max-w-sm w-full">
      <h1>Create an account</h1>
      <ClerkSignUp path="/sign-up" routing="path" signInUrl="/sign-in" afterSignUpUrl="/dashboard" />
    </div>
  </Container>
</Layout>
