---
import { db, Posts, desc } from "astro:db";
import Layout from "@/layouts/Layout.astro";
import Navbar from "@sections/Navbar.astro";
import Container from "@sections/Container.astro";
import Footer from "@sections/Footer.astro";

const pageTitle = "Posts";
const allPosts = await db.select().from(Posts).orderBy(desc(Posts.pubDate));

// The browser should always check freshness
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate");

// The CDN should cache for a year, but revalidate if the cache tag changes
Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000");

// Tag the page with the project slug
Astro.response.headers.set("netlify-cache-tag", "posts");
---

<Layout title={pageTitle}>
  <Navbar
    title="Freedom Stack"
    links={[Astro.locals.user ? { text: "Dashboard", href: "/dashboard" } : { text: "Sign In", href: "/sign-in" }]}
  />

  <Container title="Posts" titleIsH1 align="center">
    <ul class="w-full list-none p-0 m-0 flex flex-col gap-6">
      {
        allPosts.map((post) => (
          <li class="w-full m-0">
            <a
              class="block no-underline p-6 rounded-xl border-2 border-slate-200 bg-white"
              href={`/posts/${post.slug}`}
            >
              <p class="m-0 mb-2 text-sm text-slate-500">
                {post.pubDate.toLocaleDateString("en-US", { month: "long", year: "numeric" })}
              </p>
              <h2 class="m-0 line-clamp-2">{post.title}</h2>
              <p class="m-0 line-clamp-2">{post.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
  <Footer
    links={[
      {
        title: "Resources",
        items: [
          { text: "Code on GitHub", href: "https://github.com/cameronapak/freedom-stack" },
          { text: "Buy Me a Coffee", href: "https://buymeacoffee.com/campak" },
          { text: "Contact Cam", href: "https://cameronpak.com/pages/contact-cam" }
        ]
      },
      {
        title: "Legal",
        items: [
          { text: "Code of Conduct", href: "https://github.com/cameronapak/freedom-stack?tab=coc-ov-file#readme" },
          { text: "MIT License", href: "https://github.com/cameronapak/freedom-stack?tab=mit-1-ov-file#readme" }
        ]
      }
    ]}
  />
</Layout>
