---
import { db, Posts } from "astro:db";
import Layout from "@/layouts/Layout.astro";

const pageTitle = "Posts";
const allPosts = await db.select().from(Posts).orderBy(Posts.pubDate);

// The browser should always check freshness
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate");

// The CDN should cache for a year, but revalidate if the cache tag changes
Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000");

// Tag the page with the project slug
Astro.response.headers.set("netlify-cache-tag", "posts");
---

<Layout title={pageTitle}>
  <main class="container mx-auto p-6">
    <div class="text-sm breadcrumbs">
      <ul class="!p-0 !m-0">
        <li><a href="/">Home</a></li>
        <li>Posts</li>
      </ul>
    </div>

    <h1>Posts</h1>

    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
