---
import { SignIn } from "@clerk/astro";
---

<div class="flex flex-col gap-4 max-w-sm w-full">
  <h1>Sign In</h1>
  <SignIn path="/sign-in" routing="path" signUpUrl="/sign-up" afterSignInUrl="/dashboard" />
</div>
