---
import Container from "@sections/Container.astro";
import Card from "@sections/Features/Card.astro";

interface Props {
  features: {
    title: string;
    description: string;
  }[];
}

const { features } = Astro.props as Props;
---

<Container title="Technologies Inside" subtitle="" align="center">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 items-center">
    {features.map((feature) => <Card title={feature.title} description={feature.description} />)}
  </div>
</Container>
