---
const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/login");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <h1>Protected Dashboard</h1>
    <p>Welcome {user.email}</p>
    <form method="post" action="/api/logout">
      <button>Sign out</button>
    </form>
  </body>
</html>
