---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astwoah Stack">
  <main
    id="main"
    class="container p-6 flex flex-col gap-4 items-center"
    x-data="{ count: $persist(0) }"
  >
    <h1 class="text-3xl font-bold">Welcome to the Astwoah Stack</h1>
    <p class="balanced max-w-[65ch] text-center">
      A simple web starter template crafted with Astro, AlpineJS, HTMX, Daisy
      UI, Tailwind, and more.
    </p>

    <div class="flex gap-2 items-center">
      <button class="btn btn-neutral" type="button" x-on:click="count--">
        -
      </button>
      <p x-text="count" class="min-w-[3ch] text-center font-mono"></p>
      <button class="btn btn-neutral" type="button" x-on:click="count++">
        +
      </button>
    </div>

    <div class="flex gap-2">
      <a
        href="https://github.com/cameronapak/astwoah-stack"
        target="_blank"
        class="btn btn-primary"
      >
        Get the Code
      </a>

      <a href="/posts" class="btn btn-neutral"> Visit the Blog</a>

      {/* HTMX Example */}
      <button
        class="btn btn-ghost"
        type="button"
        hx-get="/api/htmx-partials/rick-roll"
        hx-target="#htmx-entry-point"
        hx-swap="innerHTML"
      >
        Rick Roll via HTMX
      </button>
    </div>

    <section id="htmx-entry-point" class="flex flex-col gap-4"></section>

    <p>Created by <a href="https://cameronpak.com" target="_blank">Cameron Pak</a></p>
  </main>
</Layout>
