---
import Layout from "../layouts/Layout.astro";
import Navbar from '../components/Navbar.astro';
---

<Layout title="Astwoah Stack">
  <Navbar />

  <main id="main" class="container p-6" x-data="{ count: $persist(0) }">
    <h1 class="text-3xl font-bold">Welcome to the Astwoah Stack</h1>
    <p class="text-balance">A simple web starter template crafted with Astro, AlpineJS, HTMX, Daisy UI, Tailwind, and more.</p>

    <div class="flex gap-2 items-center mt-8">
      <button class="btn btn-neutral" type="button" x-on:click="count--">
        -
      </button>
      <p x-text="count" class="min-w-[3ch] text-center font-mono"></p>
      <button class="btn btn-neutral" type="button" x-on:click="count++">
        +
      </button>
    </div>

    {/* HTMX Example */}
    <button
      class="btn btn-primary mt-8 mb-8 mr-1"
      type="button"
      hx-get="/api/htmx-partials/rick-roll"
      hx-target="#htmx-entry-point"
      hx-swap="innerHTML"
    >
      Try HTMX
    </button>

    <a
      href="/posts"
      class="btn btn-ghost mt-8 mb-8"
    >
      Visit the Blog
    </a>

    <section id="htmx-entry-point" class="flex flex-col gap-4"></section>
  </main>
</Layout>
