---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Sign Up">
	<div
		class="container !max-w-sm prose !py-12 flex flex-col gap-6"
		x-data={`{
      email: '', 
      password: '', 
      confirmPassword: '',
      get isValid() {
        if (this.email === '' || this.password === '' || this.confirmPassword === '') {
          return false;
        }

        if (this.password !== this.confirmPassword) {
          return false;
        }

        return true;
      },
    }`}
	>
		<a class="w-fit btn btn-sm shadow-none" href="/">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width={16}
				height={16}
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-arrow-left"
			>
				<path d="m12 19-7-7 7-7"></path>
				<path d="M19 12H5"></path>
			</svg>
			Back
		</a>

		<div>
			<h1 class="!mb-2">Sign Up</h1>
			<p class="m-0 text-muted">
				Or, <a class="link text-inherit" href="/login">log in to an existing account</a>
			</p>
		</div>

		<form method="post" action="/api/signup" class="not-prose flex flex-col gap-4">
			<input
				class="input input-bordered bg-white"
				type="email"
				placeholder="Email"
				id="email"
				name="email"
				x-model="email"
			/>
			<input
				class="input input-bordered bg-white"
				type="password"
				id="password"
				name="password"
				placeholder="Password"
				x-model="password"
			/>
			<input
				class="input input-bordered bg-white"
				id="confirmPassword"
				name="confirmPassword"
				type="password"
				placeholder="Confirm Password"
				x-model="confirmPassword"
			/>

			<button class="btn mt-8 btn-primary" x-bind:disabled="!isValid"> Sign Up </button>
		</form>

		<p class="m-0 text-muted text-sm">
			By signing up, you agree to the
			<a class="link text-inherit" href="/terms">Terms of Service</a> and
			<a class="link text-inherit" href="/privacy">Privacy Policy</a>.
		</p>
	</div>
</Layout>
