---
import { actions } from "astro:actions";
import Layout from "@/layouts/Layout.astro";
import Container from "@sections/Container.astro";
import Navbar from "@sections/Navbar.astro";

if (Astro.locals.session) {
  return Astro.redirect("/dashboard");
}

const result = Astro.getActionResult(actions.auth.signUp);
---

<Layout title="Sign In">
  <Navbar title="Freedom Stack" sticky links={[{ text: "Home", href: "/" }]} />
  {result?.error && <div>{result.error.message}</div>}
  <Container align="center">
    <form method="POST" action={actions.auth.signUp}>
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="url" name="imageUrl" placeholder="Image URL" />
      <button type="submit">Sign Up</button>
    </form>
  </Container>
</Layout>
