---
import { getApi } from "bknd/adapter/astro";
import { actions } from "astro:actions";
import Layout from "@/layouts/Layout.astro";
import Container from "@sections/Container.astro";
import Navbar from "@sections/Navbar.astro";
import Footer from "@sections/Footer.astro";

const api = getApi(Astro, { mode: "dynamic" });
const user = api.getUser();

if (user) {
  return Astro.redirect("/sign-in");
}

const result = Astro.getActionResult(actions.bknd.signUp);

if (result?.data?.success) {
  return Astro.redirect("/sign-in");
}
---

<Layout title="Sign In">
  <Navbar title="Freedom Stack" sticky links={[{ text: "Home", href: "/" }]} />
  {result?.data?.error && <div x-init={`toastErrorMessage = '${result.data.error.toString()}'`} class="sr-only" />}
  <Container align="center">
    <div class="bg-white p-6 rounded-xl border-2 border-slate-200 flex flex-col gap-4 max-w-sm w-full">
      <h1>Create an account</h1>
      <form
        x-data={`{
          name: '',
          email: '',
          password: '',
          confirmPassword: '',
          showPasswordError: false,
          get isValid() {
            return this.name.length > 0 &&
              this.email.length > 0 &&
              this.password.length > 0 &&
              this.password === this.confirmPassword;
          },
          async post() {
            const formData = new FormData($refs.form);
            const response = await fetch(window.location.origin + "/api/auth/password/register", {
              method: "POST",
              body: formData
            });

            // if 302, redirect to the url
            if (response.redirected) {
              window.location.href = '/admin';
            }
          }
        }`}
        x-ref="form"
        class="flex flex-col gap-4 max-w-sm w-full"
        method="POST"
        x-on:submit.prevent="post"
      >
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Name</span>
          </div>
          <input x-model="name" class="input input-bordered" type="text" name="name" placeholder="John Doe" />
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Email</span>
          </div>
          <input
            x-model="email"
            class="input input-bordered"
            type="email"
            name="email"
            placeholder="email@example.com"
          />
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Password</span>
          </div>
          <input
            x-model="password"
            class="input input-bordered"
            type="password"
            name="password"
            placeholder="Password"
          />
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Confirm Password</span>
          </div>
          <input
            x-model="confirmPassword"
            class="input input-bordered"
            :class="showPasswordError && password !== confirmPassword ? 'input-error' : ''"
            type="password"
            name="confirmPassword"
            placeholder="Confirm Password"
            @blur="showPasswordError = true"
          />
        </label>
        <div x-cloak x-show="showPasswordError && password !== confirmPassword" class="text-error text-sm">
          Passwords do not match
        </div>
        <button class="mt-4 btn btn-primary disabled:!text-slate-300" type="submit" :disabled="!isValid">
          Create an account
        </button>
      </form>
      <p class="m-0 text-slate-500">
        Already have an account? <a href="/sign-in" class="link text-slate-500 hover:!text-slate-500">Sign in</a>
      </p>
    </div>
  </Container>
  <Footer />
</Layout>
