---
import { getApi } from "bknd/adapter/astro";

import Layout from "@/layouts/Layout.astro";
import Container from "@sections/Container.astro";
import Navbar from "@sections/Navbar.astro";
import Footer from "@sections/Footer.astro";

const api = getApi(Astro, { mode: "dynamic" });
const user = api.getUser();

if (user) {
  return Astro.redirect("/admin");
}
---

<Layout title="Sign In">
  <Navbar title="Freedom Stack" sticky links={[{ text: "Home", href: "/" }]} />
  <!-- {result?.data?.error && <div x-init={`toastErrorMessage = '${result.data.error.toString()}'`} class="sr-only" />} -->
  <Container align="center">
    <div
      x-data={`{
        async post() {
          const formData = new FormData($refs.form);
          const response = await fetch(window.location.origin + "/api/auth/password/login", {
            method: "POST",
            body: formData
          });

          // if 302, redirect to the url
          if (response.redirected) {
            window.location.href = '/admin';
          }
        }
      }`}
      class="bg-white p-6 rounded-xl border-2 border-slate-200 flex flex-col gap-4 max-w-sm w-full"
    >
      <h1>Sign In</h1>
      <form x-ref="form" class="flex flex-col gap-4 max-w-sm w-full" method="POST" x-on:submit.prevent="post">
        {/* Email */}
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Email</span>
          </div>
          <input type="email" placeholder="email@example.com" class="input input-bordered" name="email" />
        </label>

        {/* Password */}
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Password</span>
            <a href="/forgot-password" class="label-text-alt link text-slate-500 hover:!text-slate-500">
              Forgot password?
            </a>
          </div>
          <input type="password" placeholder="Password" class="input input-bordered" name="password" />
        </label>

        <button class="mt-4 btn btn-primary" type="submit">Sign In</button>
      </form>
      <p class="m-0 text-slate-500">
        Don't have an account? <a href="/sign-up" class="link text-slate-500">Create an account</a>
      </p>
    </div>
  </Container>
  <Footer />
</Layout>
