---
import { eq, db, Posts } from "astro:db";
import { actions } from "astro:actions";
import Layout from "@/layouts/Layout.astro";
import TrixEditor from "@/components/TrixEditor.astro";

// Get the post slug from params
const { slug } = Astro.params;

// Get current user
const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/login");
}

if (!slug) {
  return Astro.redirect("/dashboard/posts");
}

let post;
// Fetch the post
post = await db.select().from(Posts).where(eq(Posts.slug, slug)).get();

const result = Astro.getActionResult(actions.posts.update);
if (result?.data?.success) {
  post = result.data.post;
  return Astro.redirect(`/posts/${post.slug}`);
}

if (!post) {
  return Astro.redirect("/posts");
}
---

<Layout title={`Edit Post: ${post?.title}`}>
  <div class="p-6 container mx-auto">
    <div class="mx-auto">
      <div class="breadcrumbs text-sm m-0">
        <ul class="!p-0 !m-0">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li>Edit Post</li>
        </ul>
      </div>
      <h1>Edit Post</h1>

      <form
        class="p-6 rounded-xl bg-white border-2 border-slate-200 mt-6 flex flex-col gap-6"
        method="POST"
        action={actions.posts.update}
      >
        <TrixEditor content={post.content || ""} />
        <div class="h-0.5 my-2 w-full bg-slate-200"></div>
        <div class="flex flex-col gap-4">
          <div class="grid grid-cols-2 gap-6">
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="title">Title</label
              >
              <input
                type="text"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="title"
                name="title"
                required
                value={post.title || ""}
                placeholder="Enter the post title"
              />
            </div>
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="pubDate">Publication Date</label
              >
              <input
                type="text"
                readonly
                x-data="{ today: new Date().toISOString().split('T')[0] }"
                x-bind:value="today"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="pubDate"
                name="pubDate"
                required
                placeholder="Select the publication date"
                type="date"
              />
            </div>
          </div>
          <div class="grid gap-2">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="description">Description</label
            >
            <textarea
              class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="description"
              name="description"
              placeholder="Enter a brief description of the post"
              rows="3"
              required>{post.description || ""}</textarea
            >
          </div>
          <div class="grid grid-cols-2 gap-6">
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="author">Author</label
              >
              <input
                type="text"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="author"
                name="author"
                value={user?.email || ""}
                placeholder="Enter the author's name"
                readonly
              />
            </div>
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="slug">Slug</label
              >
              <input
                type="text"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="slug"
                required
                name="slug"
                placeholder="blog-post-slug"
                pattern="[a-z0-9\\-]+"
                x-data={`{ slug: '${post.slug || ""}' }`}
                x-on:input="slug = $event.target.value.toLowerCase().replace(/[^a-z0-9-]/g, '').replace(/^-+|-+$/g, '').replace(/-{2,}/g, '-')"
                x-bind:value="slug"
              />
            </div>
          </div>
          <input type="hidden" name="id" value={post.id} />
          <div class="flex items-center gap-4 justify-end">
            <a href="/dashboard" class="btn btn-md"> Cancel </a>
            <div class="flex justify-end">
              <button class="btn btn-primary btn-md" type="submit">Save Post</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</Layout>
