---
import Layout from "@/layouts/Layout.astro";
import Container from "@sections/Container.astro";
import Navbar from "@sections/Navbar.astro";
import { SignIn } from "@clerk/astro";

if (Astro.locals.session) {
  return Astro.redirect("/dashboard");
}
---

<Layout title="Sign In">
  <Navbar title="Freedom Stack" sticky links={[{ text: "Home", href: "/" }]} />
  <Container align="center">
    <div class="flex flex-col gap-4 max-w-sm w-full">
      <h1>Sign In</h1>
      <SignIn path="/sign-in" routing="path" signUpUrl="/sign-up" afterSignInUrl="/dashboard" />
    </div>
  </Container>
</Layout>
