<nav class="navbar bg-base-200">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">freedom stack</a>
  </div>
  <div class="flex-none">
    <a href="/posts" class="btn btn-ghost">Blog</a>
  </div>
</nav>
