---
import { Admin as AdminUI } from "bknd/ui";
import { getApi } from "bknd/adapter/astro";

const api = getApi(Astro, { mode: "dynamic" });
const user = api.getUser();
---

<html>
  <body>
    <AdminUI
      withProvider={{ user }}
      config={{
        basepath: "/admin",
        logo_return_path: "/../"
      }}
      client:only="react"
    />
  </body>
</html>

<script>
  import "bknd/dist/styles.css";
</script>
