---
import Layout from "@/layouts/Layout.astro";
import { actions } from "astro:actions";

if (!Astro.locals.auth().userId) {
  return Astro.redirect("/");
}

const user = await Astro.locals.currentUser();
const result = Astro.getActionResult(actions.posts.create);

// Redirect on successful post creation
if (result?.data?.success) {
  return Astro.redirect("/posts");
}
---

<Layout title="New Post">
  <script src="/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
  <script is:inline>
    tinymce.init({
      selector: "#content",
      license_key: "gpl",
      menubar: false,
      placeholder: "What's on your mind?",
      plugins: ["link", "emoticons", "lists", "code", "fullscreen", "codesample"],
      toolbar: "h2 bold italic | link emoticons bullist codesample | code fullscreen",
      content_style: "body { font-family:'Inter',Arial,sans-serif; font-size:16px }"
    });
  </script>

  <div class="p-6 container mx-auto">
    <div class="mx-auto">
      <div class="breadcrumbs text-sm m-0">
        <ul class="!p-0 !m-0">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li>New Post</li>
        </ul>
      </div>

      <h1>New Post</h1>

      {
        result?.error && (
          <div class="alert alert-error mb-4">
            <span>{result.error.message}</span>
          </div>
        )
      }

      <form class="mt-6 flex flex-col gap-6" method="POST" action={actions.posts.create}>
        <textarea
          class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50"
          id="content"
          name="content"
          rows="10"></textarea>
        <div class="h-0.5 my-2 w-full bg-slate-200"></div>
        <div class="flex flex-col gap-4 p-6 rounded-xl bg-slate-200">
          <div class="grid grid-cols-2 gap-6">
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="title">Title</label
              >
              <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="title"
                name="title"
                placeholder="Enter the post title"
              />
            </div>
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="pubDate">Publication Date</label
              >
              <input
                readonly
                x-data="{ today: new Date().toISOString().split('T')[0] }"
                x-bind:value="today"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="pubDate"
                name="pubDate"
                placeholder="Select the publication date"
                type="date"
              />
            </div>
          </div>
          <div class="grid gap-2">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="description">Description</label
            >
            <textarea
              class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="description"
              name="description"
              placeholder="Enter a brief description of the post"
              rows="3"></textarea>
          </div>
          <div class="grid grid-cols-2 gap-6">
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="author">Author</label
              >
              <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="author"
                name="author"
                value={user?.primaryEmailAddress?.emailAddress || ""}
                placeholder="Enter the author's name"
                readonly
              />
            </div>
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="imageUrl">Image URL</label
              >
              <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="imageUrl"
                name="imageUrl"
                placeholder="Enter the image URL"
              />
            </div>
          </div>
          <div class="grid grid-cols-2 gap-6">
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="imageAlt">Image Alt Text</label
              >
              <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="imageAlt"
                name="imageAlt"
                placeholder="Enter the image alt text"
              />
            </div>
            <div class="grid gap-2">
              <label
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="tags">Tags</label
              >
              <input
                disabled
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="tags"
                name="tags"
                placeholder="Enter tags as a JSON array (e.g., ['tag1', 'tag2'])"
              />
            </div>
          </div>
          <div class="grid gap-2">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="slug">Slug</label
            >
            <input
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="slug"
              name="slug"
              placeholder="blog-post-slug"
              pattern="[a-z0-9\\-]+"
              x-data="{ slug: '' }"
              x-on:input="slug = $event.target.value.toLowerCase().replace(/[^a-z0-9-]/g, '').replace(/^-+|-+$/g, '').replace(/-{2,}/g, '-')"
              x-bind:value="slug"
            />
          </div>
          <div class="flex justify-end">
            <button class="btn btn-primary btn-md" type="submit">Save Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</Layout>
