---
import { Admin } from "bknd/ui";
import { getApi } from "bknd/adapter/astro";
import "bknd/dist/styles.css";

const api = getApi(Astro, { mode: "dynamic" });
const user = api.getUser();
---

<html>
  <body>
    <Admin
      withProvider={{ user }}
      config={{
        basepath: "/admin",
        logo_return_path: "/../"
      }}
      client:only="react"
    />
  </body>
</html>
