---
import { Admin } from "bknd/ui";
import "bknd/dist/styles.css";

import { getApi } from "bknd/adapter/astro";

const api = getApi(Astro, { mode: "dynamic" });
const user = api.getUser();

export const prerender = false;
---

<html>
  <body>
    <Admin
      withProvider={{ user }}
      config={{
        basepath: "/admin",
        color_scheme: "dark",
        logo_return_path: "/../"
      }}
      client:only
    />
  </body>
</html>
